setuptools >= 30.3.0
requests >= 2.12.2
boto3
Flask
gunicorn
flask-restx
nuxeo[oauth2]
cryptography
flask-cors
packaging
werkzeug
pdfminer
pypdf
pdfminer.six
reportlab
fillpdf
https://github.com/udistrital/utils_python/releases/download/Instalacion/xray_python-0.1.0-py3-none-any.whl
