setuptools >= 30.3.0
requests >= 2.12.2
Flask
flask-restx
nuxeo[oauth2]
cryptography
flask-cors
packaging
werkzeug
pdfminer
pypdf
pdfminer.six
reportlab
fillpdf
pdf2image
python-dateutil
poppler-utils
